/* 默认主题色 */
@import "../settings/variable.scss";
$theme-default: (
  t-color-primary: (
    color: $primary,
  ),
  t-shadow: (
    shadow: 0 0 8px $primary,
  ),
  t-border: (
    border: 1px solid $primary,
  ),
  t-font-size: (
    font-size: $font-size-base,
  ),
);
