@import "../../settings/variable.scss";
$theme-warm: (
  t-list-title: (
    color: $warning,
    font-weight: $font-weight-bold,
    font-size: $font-size-lg,
  ),
  t-list-sub-title: (
    color: $warning,
    font-weight: $font-weight-medium,
    font-size: $font-size-base,
  ),
  t-list-info: (
    color: $warning,
    font-weight: $font-weight-normal,
    font-size: $font-size-base,
  ),
);
